.modal {
    position: fixed;
    margin: 0 auto;
    width: 90%;
    left: 5%;
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.modal > header {
    padding: 1rem;
}
.modal .modal__content {
    padding: 1rem;
}
.modal .modal__action {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
.modal > header > h1 {
    margin: 0;
}
@media (min-width: 768px) {
    .modal {
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }
}